* {
    margin: 0;
}

.content_box3 {
    height: 500px;
    width: 100%;
    background: rgb(60,141,128);
}

.content_box3 .text_box {
    height: 60%;
    width: 100%;
    position: relative;
    top: 30%;
    /* background: blue; */
}

.content_box3 .text_box .title {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: white;
    /* padding: 100px; */
    padding-left: 50%;
    padding-right: 20%;
    /* background: red; */
}

.content_box3 .text_box .sub_title {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-left: 50%;
    padding-right: 20%;
    position: relative;
    top: 10%;
    /* background: purple; */
}