
/* 0-480px for iphone */
@media only screen and (max-width: 550px){
    /* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 */
    .content_box1 {
        height: 540px;
    }
    .content_box1 .main_content p#title {
        font-size: 28px;
    }
    .content_box1 .main_content p#sub_title {
        font-size: 12px;
    }
}

/* 480px-900px for ipad */
@media only screen and (min-width: 551px){
    /* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 */
    .content_box1 {
        height: 650px;
    }
    .content_box1 .main_content p#title {
        font-size: 36px;
    }
    .content_box1 .main_content p#sub_title {
        font-size: 16px;
    }
}

/* 900px-1280px for laptop */
@media only screen and (min-width: 951px){
    /* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 *//* SECTION #1 */
    .content_box1 {
        height: 650px;
    }
    .content_box1 .main_content p#title {
        font-size: 42px;
    }
    .content_box1 .main_content p#sub_title {
        font-size: 20px;
    }
}

/* 1280px-1920px for monitor */
@media only screen and (min-width: 1281px){
    .content_box1 {
        height: 950px;
    }
    .content_box1 .main_content p#title {
        font-size: 42px;
    }
    .content_box1 .main_content p#sub_title {
        font-size: 20px;
    }
}
