*{
	margin: 0;
}

.content_box2{
	height: 300px;
	width: 100%;
	background: rgb(253 128 44);
}

.content_box2 .text_box{
	height:150px;
	width: 50%;
	margin-left: 10px;

}

.content_box2 .text_box .title{
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
  	color: white;
    padding-top: 100px;
    padding-left: 80px;
}

.content_box2 .text_box .subtitle{
	font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    padding-top: 20px;
    padding-left: 80px;
    padding-bottom: 30px;
}


